@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;500&display=swap');

.navigation {
    height: 30px;
    display: flex;
    background-color: rgba(195, 201, 231, 0.39);
    height: 50px;
    border-bottom: 1px solid rgba(175, 168, 168, 0.466);
    font-family: 'Teko', sans-serif;
    font-size: 23px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 25px;
}

.navigation_link, .navigation span {
    margin-right: 30px;
    text-decoration: none;
}
.navigation_link:hover {
    color: white;
}